.button {
    font-family: Arial;
    color: #0a000a;
    font-size: 27px;
    padding: 25px;
    text-decoration: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: 3px 2px 3px #666666;
    -moz-box-shadow: 3px 2px 3px #666666;
    text-shadow: 0px 0px 0px #666666;
    border: solid #614c56 3px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
}
.div-create-conference-button{
    margin-top: 100px;
    /*margin-left: 35%;*/
    text-align: center;
}

.div-heading {
    text-align: center;

 }
.publish-session{
margin-top: 100px;
}

.date{
    width: 15%;
    margin-left: 10px;
}
.conference-name{
    width: 20%;
    word-wrap: break-word;
    overflow: hidden;
}
.session-name{
    padding-left: 4%;
    width: 20%;
}
.one-line{
    width: 100%;
    display: block;
    padding-bottom: 20px;
}

.one-line div{
    float: left;
}

.clear:after {
    clear: both;
    display: block;
    visibility: hidden;
    content: "";
}
