body {
  padding:0;
  margin:0;
  width:100%;
  background: #2F2F2F;
  color: #FFF;
  font-family: "Helvetica", Arial, Sans-serif;
  font-size: medium;
}

@font-face {
  font-family: 'marydaleregular';
  src: url('fonts/marydale-webfont.eot');
  src: url('fonts/marydale-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/marydale-webfont.woff') format('woff'),
  url('fonts/marydale-webfont.ttf') format('truetype'),
  url('fonts/marydale-webfont.svg#marydaleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.header {
  background: #D5E14D;
  border-bottom: 1px solid #FFF;
}

.header img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto
}

hr {
  border-color:#1B1B1B;
  box-shadow: 1px 1px 1px 1px #555;
}

.clear:after {
  clear: both;
  display: block;
  visibility: hidden;
  content: "";
}

#location-detail, .date-time .date, .date-time .time, .abstract h2, .speaker h2 {
  background: url(images/icons-sprite.png) no-repeat top left;
  padding-left: 35px
}


.abstract h2 { 
  background-position: 0 26px; 
}

.date-time .date { 
  background-position: 0 -70px; 
}

.date-time .time { 
  background-position: 0 -144px; 
} 

#location-detail { 
  background-position: 0 -219px; 
} 
.speaker h2 { 
  background-position: 0 -288px; 
} 

