body {
  padding:0;
  margin:0;
  width:100%;
  background: #2F2F2F;
  color: #FFF;
  font-family: "Helvetica", Arial, Sans-serif;
}

@font-face {
  font-family: 'marydaleregular';
  src: url('fonts/marydale-webfont.eot');
  src: url('fonts/marydale-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/marydale-webfont.woff') format('woff'),
  url('fonts/marydale-webfont.ttf') format('truetype'),
  url('fonts/marydale-webfont.svg#marydaleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.main-page{
  min-height: 100%;
  width: 100%;
  overflow: scroll;
}

.header {
  background: #D5E14D;
  border-bottom: 1px solid #FFF;
}

.header img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto
}

hr {
  border-color:#1B1B1B;
  box-shadow: 1px 1px 1px 1px #555;
}