.feedback-title {
  font-size: 62px;
  line-height: 62px;
  height: 50px;
  margin: 60px 40px 70px 40px;
}

.session-detail, .feedback-vote{
  margin-left: 45px;
}

.feedback-vote hr{
  margin-left: -100px;
}

.feedback-vote span{
  font-weight: lighter;
  font-size: 52px;
  line-height: 100px;
}

.vote-list{
  list-style-type: none;
}

.vote-item{
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 40px;
  margin: 40px 0;
}

.vote-item div{
  float: left;
}

.vote-item div:first-child{
 width: 395px;
}

.submit-btn{
  background: #D5E14D;
  border-radius: 10px;
  margin: 30px 40px 30px 40px;
  line-height: 100px;
  text-align: center;
  font-size: 36px;
  box-shadow: 0 0 10px #545454 inset;
}

.vote-point{
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

.vote-point li{
  float: left;
  background: #444;
  margin-right: 20px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow:0px 0px 2px 1px #777777;
}

.vote-point .active{
  box-shadow:0px 0px 2px 1px #D5E14D;
}

