.feedback-title {
  font-size: 45px;
  line-height: 62px;
  height: 50px;
  margin: 40px 0 40px 30px;
}

.presenter{
  font-size: 36px;
  font-weight: lighter;
  margin: -20px 0 20px 40px;
}

.presenter .speaker-name{
  margin-left: 10px;
}


.session-detail, .feedback-vote {
  margin-left: 30px;
}

.feedback-vote hr {
  margin-left: -100px;
}

.feedback-vote span {
  font-weight: bold;
  font-size: 52px;
  line-height: 100px;
}

.vote-list {
  list-style-type: none;
  padding-left: 0px;
}

.vote-item {
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 40px;
  margin: 40px 0;
}

.vote-item div:first-child {
  font-size: 38px;
  float: left;
  padding-top: 30px;
}

.submit-btn, .back-to-sessions div{
  background: #D5E14D;
  border-radius: 10px;
  margin: 30px 30px 30px 30px;
  line-height: 160px;
  text-align: center;
  font-size: 50px;
  box-shadow: 0 0 10px #545454 inset;
}

.vote-point {
  margin-top: 30px;
  margin-right: 30px;
  padding-left: 0;
  list-style-type: none;
}

.vote-point li {
  float: right;
  background: #444;
  margin-left: 25px;
  line-height: 100px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px #777777;
}

.vote-point .active {
  box-shadow: 0px 0px 10px 3px #D5E14D;
}

.feedback-confirmation{
  font-size: 40px;
  margin: 100px 0 0 30px;
  min-height: 750px;
}

.feedback-confirmation ul{
  list-style-type: none;
  font-size: 32px;
  margin: 50px 0 200px 40px;
}

.feedback-confirmation p{
  font-weight: bolder;
}

.feedback-confirmation p:last-child{
  font-family: 'marydaleregular';
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
}

.feedback-confirmation span{
  font-family: 'marydaleregular';
  font-size: 50px;
  color: #D5E14D;
}

.back-to-sessions{
  text-decoration: none;
  color: white;
}


