/*.going_button{
    height: 100%; width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

} */

.going_button_inactive{
    background-image: url('../Icons/going-no_clicked.png');
}


.going_button_active{
    background-image: url('../Icons/going-clicked.png');x

}


/*.button {

  font-family: 'Helvetica', Arial, sans-serif;

  color: #575C25;

  font-size: 14px;

  padding: 10px 40px;

  font-weight: 800;

  text-decoration: none;

  -webkit-border-radius: 5px;

  -moz-border-radius: 5px;

  -webkit-box-shadow: 0px 1px 2px #000000;

  -moz-box-shadow: 0px 1px 2px #000000;

  text-shadow: 1px 0px 0px #d3db7d;

  border: solid #b8c05c 1px;

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#C2CB67), to(#929a36));

  background: -moz-linear-gradient(top, #C2CB67, #929a36);

}

.button:hover {

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#929a36), to(#C2CB67));

  background: -moz-linear-gradient(top, #929a36, #C2CB67);

}     */

.going_button {

    display: block;
    float: left;

          font-family: Arial;
          color: white;
          font-size: 35px;
          text-decoration: none;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-box-shadow: 1px 1px 0px #545454;
          -moz-box-shadow: 1px 1px 0px #545454;
          text-shadow: 1px 1px 3px #666;
          border: solid black 1px;
          background: 2f2f2f;

}

.going_button span {

    display: block;
    padding: 10px;
    float: left;
    box-shadow: -1px -1px 0 #545454;
    border-radius: 5px;
    margin: 1px;
    color: #111;
    font-size: 52px;


}