.clear:after {
    clear: both;
    display: block;
    visibility: hidden;
    content: "";
}

#create-new-session {
    width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    padding-bottom: 2px;
}

input {
    margin-bottom: 10px;
    padding-top: 2px;
}

.date_and_time {
    float: left;
    margin-right: 47px;
}
.session_text_box {
    width: 300px;
}
.box_height {
    height: 100px;
}
