.return_button{

font-family: Arial;
    color: #050505;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    border: solid #000000 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);

}