.session-list-title {
  font-size: 62px;
  line-height: 62px;
  height: 50px;
  margin: 60px 40px 70px 40px;
}


ol {
  padding-right: 40px;
  margin-top: 60px
}



.session-item a {
  text-decoration: none;
  color: #FFF;
  display: block;
}

.session-name {
  font-weight: lighter;
  font-size: 52px;
  margin-bottom: 10px;
  color: #D5E14D;
}

.conference-title {
  font-weight: lighter;
  font-style: italic;
  color: #DDD;
  font-size: 32px;
  margin-bottom: 20px;
}

.date-time-location {
  padding: 0;
}

.date-time-location div {
  font-weight: lighter;
  margin-right: 25px;
  margin-bottom: 10px;
}

.location div , .date-time div{
  float: left;
}

.presenter{
  font-weight: lighter;
  margin-bottom: 0px;
}

.presenter .speaker-name{
  margin-left: 10px;
}

