body {
    padding:0;
    margin:0;
    width:100%;
    background: #2F2F2F;
    color: #FFF;
    font-family: Helvetica, Arial, Sans-serif;
}

@font-face {
    font-family: 'marydaleregular';
    src: url('Fonts/marydale-webfont.eot');
    src: url('Fonts/marydale-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/marydale-webfont.woff') format('woff'),
         url('Fonts/marydale-webfont.ttf') format('truetype'),
         url('Fonts/marydale-webfont.svg#marydaleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.main-page{
    min-height: 100%;
    min-width: 100%;
    overflow: scroll;
}

.header{
    min-height: 80px;
}

.conf, .date, .abstract img, .speaker img {
    float:left;
}

.track {
    float:right;
}

.track, .conf {
    padding:1% 1% 1% 1%;
}


.component-type {
    font-size:25px;
    color:#676767;
}

.component-title {
    font-size:30px;
    font-style:italic;
}

.session-title {
    font-size:30px;
    font-family: 'marydaleregular';
    padding:0px 30px 0px 30px;
    min-height: 100px;
}

.speaker {
    margin:30px 40px 30px 40px;

    background: #1B1B1B;
    box-shadow: 0px 5px 5px #0B0B0B inset;
}

hr {
    border-color:#1B1B1B;
    box-shadow: 1px 1px 1px 1px #555;
}

.horizontal-rule {
    clear:both;
}

#vertical-rule {
    float: left;
    width: 1px;
    height: 40px;
    display:inline;

}
#speaker-details{
    margin-left: 35px;
    margin-right: 35px;
}
img{
    width: 35px;
    height: 35px;

}

.location div:first-child{
    float: left;
}

#location-detail{
    width:95%;
    float:left;
}
.date-time{
    clear:both;
}
.date-time-location,.abstract,.speaker{
    font-size:30px;
}
.date-time-location{
    min-height:150px;
}
.abstract,.date-time-location,.header, .speaker{
    padding:20px 40px 20px 40px;
}

.date, .time {
    padding: 10px 40px 0px 0px;
}
.date-time, .location {
    padding-top: 10px;
    padding-bottom: 10px;
}
.time {
    margin-left:340px;
}

img{
    margin-right: 10px;
}
.abstract, .speaker {
    min-height: 300px;
}

h2 {
    font-size: 120%;
    display:inline;
}








