<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="mapper-context.xml"/>

    <bean class="com.twu.thoughtconf.spring.MyPropertyPlaceholderConfigurer"/>

    <bean id="sessionAttendeeService" class="com.twu.thoughtconf.services.SessionAttendeeService">
        <property name="mapper" ref="sessionAttendeeMapper"/>
    </bean>

    <bean id="exampleService" class="com.twu.thoughtconf.services.ExampleService">
    </bean>

    <bean id="authenticationFilter" class="org.jasig.cas.client.authentication.AuthenticationFilter">
        <property name="casServerLoginUrl" value="https://castest.thoughtworks.com/cas/login"/>
        <property name="service" value="http://${localIp}:8080/thoughtconf/attendee/sessions"/>
        <property name="renew" value="false"/>
        <property name="gateway" value="false"/>
    </bean>

    <bean id="ticketValidationFilter" class="org.jasig.cas.client.validation.Cas10TicketValidationFilter">
        <property name="service" value="http://${localIp}:8080/thoughtconf/attendee/sessions"/>
        <property name="ticketValidator">
            <bean class="org.jasig.cas.client.validation.Cas10TicketValidator">
                <constructor-arg index="0" value="https://castest.thoughtworks.com/cas"/>
            </bean>
        </property>
        <property name="redirectAfterValidation" value="true"/>
        <property name="exceptionOnValidationFailure" value="true"/>
    </bean>

    <bean id="wrapperFilter" class="org.jasig.cas.client.util.HttpServletRequestWrapperFilter" />

</beans>